.row-header{
    margin : 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #c1c0c2;
    margin:  0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin:  0px auto;
    background-color: #9575CD;
    color: floralwhite;
}
.adress{
    font-size: 80%;
    margin: 0px;
    color: #0f0F0F;
}